/* цвет основного текста #212121 */
/* цвет вторичного текста  #757575 */
/* акцент  #2196f3 */
/* вторичный акцент (цвет текста героя)  #ffffff */
/* цвет текста электронных контактов в футере rgba(255, 255, 255, 0.6) */
/* бекграунд хедера #ffffff*/
/* бекграунд героя и футера #2F303A */
/* бекграунд основной #E5E5E5*/
/* бекграунд вторичный (команда компании, кнопки) #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --contacts-text-footer: rgba(255, 255, 255, 0.6);
  --bg-header: #ffffff;
  --bg-hero-footer: #2f303a;
  --bg-primary: #e5e5e5;
  --bg-secondary: #f5f4fa;
  --bg-box: #ffffff;
}

.body {
  color: var(--primary-text-color);
  background: var(--bg-primary);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.page-header {
  text-decoration-color: none;
  background: var(--bg-header);
}
.list {
  list-style: none;
}
.link-logo {
  color: var(--primary-text-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.link-logo:hover,
.link-logo:focus {
  color: var(--accent-color);
}
.logo-web {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web:hover,
.logo-web:focus {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--primary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .current {
  color: var(--accent-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

.hero {
  background: var(--bg-hero-footer);
}
.hero-title {
  color: var(--secondary-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--secondary-accent-color);
  background: var(--accent-color);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.section-title {
  font-size: 14px;
  line-height: 1.14;
}
.section-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.section-main-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-team {
  background: var(--bg-secondary);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section-text-profession {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
.page-footer {
  background: var(--bg-hero-footer);
}
.logo-footer {
  color: var(--secondary-accent-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.address {
  color: var(--secondary-accent-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-auth {
  color: var(--contacts-text-footer);
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.switch-button {
  background: var(--bg-secondary);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.switch-button:hover,
.switch-button:focus {
  background: var(--accent-color);
}
.box {
  background: var(--bg-box);
}
.portfolio-link {
  color: var(--primary-text-color);
  background: var(--bg-box);
  text-decoration: none;
}
.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-text-type {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
}
